.Footer__container {
  flex: none;
  background-color: var(--theme-bg-color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 6rem;
  text-align: center;
}

.Footer__container a {
  color: var(--theme-text-primary);
}

.Footer__container a:hover {
  color: blue;
}
